html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: url(../img/bg-mobile.svg) no-repeat;
    background-size: contain;
    background-color: var(--neutral-dark);
    min-height: 100vh;
    font-size: 16px;
} 

.container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

/* HEADER */

.header {
   display: flex;
   justify-content: flex-start;
   width: 100%;
   padding: 25px 35px;
}

.header .logo {
    width: 50%;
    max-width: 220px;
}

/* INFOS */


.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    padding: 1px 35px;
}

.about .image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.about .image .img {
    width: 100%;
}


.about .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
}


.about .detail .title {
    font-family: 'Poppins', sans-serif;
    color: #FFFF;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    padding: 50px 0 20px;
}

.about .detail .text {
    color: #FFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 10px 0;
}

.about .btn-register {
    width: 65%;
    max-width: 200px;
    font-family: 'Open Sans', sans-serif;
    color: var(--neutral-dark);
    background-color: #FFFF;
    font-size: 1rem;
    padding: 10px;
    margin: 20px 0;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.about .btn-register:hover {
    background-color: var(--primary-soft);
    color: #FFFF;
    transition: 0.3s ease-in-out;
}



/* FOOTER */

footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

footer .social .social-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    color: #FFFF;
    border: solid 1px #FFFF;
    border-radius: 50%;    
    margin: 5px;
}

footer .social .social-box .social-icon {
    font-size: 1.4rem;
}

footer .social a:hover {
    color: var(--primary-soft);
    transition: 0.3s ease-in-out;
    border: solid 1px var(--primary-soft);
}