html {
    height: 100%;
}

body {
   background: url(../img/bg-desktop.svg) center center no-repeat;
   background-size: cover;
   background-color: var(--neutral-dark);
} 

.header {
    padding: 50px;
    margin-bottom: 40px;
}

.header .logo {
    width: auto;
    height: auto;
    max-width: 215px;
}